/* listdriver.css */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .driverCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .driverCard:hover {
    transform: scale(1.03);
  }
  
  .driverInfo {
    padding: 20px;
  }
  
  .driverInfo h2 {
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .driverInfo p {
    color: #555;
    margin: 8px 0;
  }
  
  .driverCard button {
    background-color: #0056b3; /* Darker blue */
    color: #fff;
    border: none;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    width: 70%; /* Reduced width */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .driverCard button:hover {
    background-color: #004080; /* Darker hover color */
  }
  
  #driverDetails {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
    display: none;
  }
  
  #driverDetails h2 {
    color: #007bff;
    margin-bottom: 15px;
  }
  
  #driverDetails p {
    color: #555;
    margin: 10px 0;
  }
  
  #bookRideButton {
    background-color: #0056b3; /* Darker blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #bookRideButton:hover {
    background-color: #004080; /* Darker hover color */
  }
  